<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<h1><%= title t("views.pages.about.title") %></h1>
	</div>
</div>



PG2 About Us:
My whole life has been in Africa. My roots are Kenyan, it has been home to me & my family for over three generations now. For the past thirty years, I have lived & travelled all over sub Saharan Africa and during this time have uncovered many adventures & insider secrets. It is these that have inspired the The AAL Experience In essence Adventures, Accomodation & Location –.

Your Insider Zambia presents the places to stay & the adventures to encounter. Sometimes it is the location that makes the adventure, sometimes it is the awesome nature of the adventure itself. Often Zambia provides both.

PG 2 (bottom center) How we Tailor Make Your AAL Experience/ Journey: See https://www.audleytravel.com/about-us

Stages:
1. Inspiration from our interactive review based website. (For places haven’t visited, get a review)
2. Speak to  YIZ  to your Tailor Make your Travel(Via email; phone; website enquiry).
3. Get your AAL Experience (do we book for them?/ Put them directly in touch with the Camp?)
4. Voice your Views- review of Adventure, Accommodation & Location + Text
Video of stages: See https://www.audleytravel.com/about-us
