<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<h1><%= title t("views.pages.about.title") %></h1>
	</div>
</div>

<div class="row">
	<div class="small-12 medium-offset-2 medium-8 large-offset-3 large-6 columns">
		<p>My whole life has been in Africa. My roots are Kenyan, it has been home to me and my family for over three generations now. For the past thirty years, I have lived and travelled all over sub Saharan Africa and during this time have uncovered many adventures and insider secrets. It is these that have inspired the The AAL Experience In essence Adventures, Accomodation and Location.</p>

		<p>Your Insider Zambia presents the places to stay and the adventures to encounter. Sometimes it is the location that makes the adventure, sometimes it is the awesome nature of the adventure itself. Often Zambia provides both.</p>

		<hr />

		<h2>How we Tailor Make Your AAL Experience/Journey</h2>

		<p>Stages:</p>

		<ol>
			<li>Inspiration from our interactive review based website</li>
			<li>Speak to YIZ to your Tailor Make your Travel</li>
			<li>Get your AAL Experience</li>
			<li>Voice your Views&mdash;review of your Adventure, Accommodation and Location</li>
		</ol>
	</div>
</div>
