// Common settings
@import "common";


h1 {
	font-size: 4em;
	text-align: center;
}


h2 {
	font-size: 2em;
	text-align: center;
}


form {
	label {
		font-size: 2em;
	}
}


strong {
	first-letter {
		color: $red;
		text-transform: uppercase;
		text-transform: capitalize;
	}
}


span {
	&.aal {
		color: $red;
		font-weight: bold;
	}
}


section {
	section {
		&.welcome {
				/* padding-top: 22em; */

				section {
					padding: 1em;
				}
			}
	}

	&.promotions {
		padding-top: 10em;

		section {
			padding: 1em;
		}
	}

	&.newsletter {
		padding-top: 10em;
	}
}


.mailling-list-signup {
	padding-top: 5rem;
	text-align: center;

	label {
	}
}


#slides {
	height: 420px;
}