// Common settings
@import "common";


h2 {
	color: $white;
	text-shadow: 1px 1px 1px #000000;
	border-top: 1px solid $white;
	/* border-bottom: 1px solid $white_smoke; */
	font-size: 4em;
	text-align: center;
}


h3 {
	color: $white;
	text-shadow: 1px 1px 1px #000000;
	border-top: 1px solid $white;
	/* border-bottom: 1px solid $white_smoke; */
	font-size: 2em;
	text-align: center;
}


form {
	label {
		font-size: 2em;
	}
}


strong {
	first-letter {
		color: $red;
		text-transform: uppercase;
		text-transform: capitalize;
	}
}


span {
	&.aal {
		color: $red;
		font-weight: bold;
	}
}


section {
	section {
		&.welcome {
				padding-top: 22em;

				section {
					background: $white;
					padding: 1em;
				}
			}
	}

	&.promotions {
		padding-top: 10em;

		section {
			background: $white;
			padding: 1em;
		}
	}

	&.newsletter {
		padding-top: 10em;
	}
}


.mailling-list-signup {
	padding-top: 5rem;
	text-align: center;
	color: $white_smoke;
	text-shadow: 1px 1px 1px #000000;

	label {
		color: $white_smoke;
	}
}
