// Common settings
@import "common";



footer {
	font-size: 0.85rem;
	padding-top: 5rem;
	padding-bottom: 1rem;
	text-align: center;
}




.translation_missing {
	background: $red;
	color: $white_smoke;
}
