<div class="top-bar">
	<div class="top-bar-left">
		<ul class="menu">
			<li class="titlet"><%= link_to t("views.application._navigation.links.home"), root_path, title: t("views.application._navigation.links.titles.home") %></li>
		</ul>
	</div>
	<div class="top-bar-right">
		<ul class="menu">
			<li><%= link_to t("views.application._navigation.links.about"), page_path('about'), title: t("views.application._navigation.links.titles.about") %></li>
			<li><%= link_to t("views.application._navigation.links.contact"), page_path('contact'), title: t("views.application._navigation.links.titles.contact") %></li>
		</ul>
	</div>
</div>
